In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df = pd.read_csv("lida_tabletrimmed.csv")

In [27]:
df.head()

,moisture_active1,moisture_active2,oxygen,lid,co2,time_stamp,device_id,temperature_curing1,temperature_curing2,moisture_curing1,moisture_curing2,automation_active,methane,temperature_active1,temperature_active2,temperature_active3,temperature_active4
0,14,15,10.429501,open,6473,28/06/2024 18:03,YJWCHg,0,0,134,14,False,965,15,15,25,14
1,15,17,11.406513,open,6429,28/06/2024 18:03,YJWCHg,0,0,68,15,False,898,14,15,15,14
2,7,15,11.895020,open,6446,28/06/2024 18:03,YJWCHg,0,0,62,13,False,957,14,15,15,14
3,15,16,12.207036,open,6410,28/06/2024 18:03,YJWCHg,0,0,107,18,False,941,14,15,15,14
4,14,16,12.386153,open,6703,28/06/2024 18:03,YJWCHg,0,0,46,13,False,1012,14,15,15,14

In [28]:
df.tail()

,moisture_active1,moisture_active2,oxygen,lid,co2,time_stamp,device_id,temperature_curing1,temperature_curing2,moisture_curing1,moisture_curing2,automation_active,methane,temperature_active1,temperature_active2,temperature_active3,temperature_active4
160751,74,17,8.352800,open,0,20/08/2024 18:12,YJWCHg,0,0,17,12,False,1969,21,21,21,0
160752,6,16,8.347547,open,0,20/08/2024 18:12,YJWCHg,0,0,15,12,False,1161,21,21,21,0
160753,88,15,8.344920,open,0,20/08/2024 18:12,YJWCHg,0,0,15,11,False,876,21,21,21,0
160754,5,15,8.357528,open,0,20/08/2024 18:12,YJWCHg,0,0,15,11,False,722,21,21,21,0
160755,37,17,8.348860,open,0,20/08/2024 18:12,YJWCHg,0,0,15,13,False,703,21,21,21,0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160756 entries, 0 to 160755
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   moisture_active1     160756 non-null  int64
 1   moisture_active2     160756 non-null  int64
 2   oxygen               160756 non-null  float64
 3   lid                  160756 non-null  object
 4   co2                  160756 non-null  int64
 5   time_stamp           160756 non-null  object
 6   device_id            160756 non-null  object
 7   temperature_curing1  160756 non-null  int64
 8   temperature_curing2  160756 non-null  int64
 9   moisture_curing1     160756 non-null  int64
 10  moisture_curing2     160756 non-null  int64
 11  automation_active    160756 non-null  bool
 12  methane              160756 non-null  int64
 13  temperature_active1  160756 non-null  int64
 14  temperature_active2  160756 non-null  int64
 15  temperature_active3  160756 non-null  int64
 16  temperature_active4  160756 non-null  int64
dtypes: bool(1), float64(1), int64(12), object(3)
memory usage: 19.8+ MB

Checking unique values for device_id

In [30]:
df['device_id'].unique()

array(['YJWCHg'], dtype=object)

Removing device_id due to being a single value

In [31]:
df.drop('device_id', axis=1, inplace=True)

In [32]:
# Check for lid unique value
df['lid'].unique()

array(['open', 'close'], dtype=object)

In [33]:
# Changing the text values to integers
# 1 for open and 0 for closed
df['lid_open'] = df['lid'].map({'open': 1, 'closed': 0})

In [34]:
df.drop('lid', axis=1, inplace=True)

In [38]:
# Creating Average Active Temperature Column
active_temp_cols = [col for col in df.columns if col.startswith('temperature_active')]
if active_temp_cols:
    df['temperature_active_avg'] = df[active_temp_cols].mean(axis=1)

In [45]:
# Creating Max Temperature and Min Temperature

df['max_active_temperature'] = df[['temperature_active1', 'temperature_active2', 
                               'temperature_active3', 'temperature_active4']].max(axis=1)

df['min_active_temperature'] = df[['temperature_active1', 'temperature_active2',
                               'temperature_active3', 'temperature_active4']].min(axis=1)

In [40]:
# Creating Average Active Moisture Column
active_moisture_cols = [col for col in df.columns if col.startswith('moisture_active')]
if active_moisture_cols:
    df['moisture_active_avg'] = df[active_moisture_cols].mean(axis=1)

In [46]:
df.head()

,moisture_active1,moisture_active2,oxygen,co2,time_stamp,temperature_curing1,temperature_curing2,moisture_curing1,moisture_curing2,automation_active,...,temperature_active3,temperature_active4,lid_open,temperature_active_avg,moisture_active_avg,hour,dayofweek,month,max_active_temperature,min_active_temperature
0,14,15,10.429501,6473,2024-06-28 18:03:00,0,0,134,14,NaN,...,25,14,1.0,17.25,14.5,18,4,6,25,14
1,15,17,11.406513,6429,2024-06-28 18:03:00,0,0,68,15,NaN,...,15,14,1.0,14.50,16.0,18,4,6,15,14
2,7,15,11.895020,6446,2024-06-28 18:03:00,0,0,62,13,NaN,...,15,14,1.0,14.50,11.0,18,4,6,15,14
3,15,16,12.207036,6410,2024-06-28 18:03:00,0,0,107,18,NaN,...,15,14,1.0,14.50,15.5,18,4,6,15,14
4,14,16,12.386153,6703,2024-06-28 18:03:00,0,0,46,13,NaN,...,15,14,1.0,14.50,15.0,18,4,6,15,14

In [42]:
df['time_stamp'] = pd.to_datetime(df['time_stamp'], dayfirst=True, errors='coerce')
df['hour'] = df['time_stamp'].dt.hour
df['dayofweek'] = df['time_stamp'].dt.dayofweek
df['month'] = df['time_stamp'].dt.month

In [ ]:
df.drop('time_stamp', axis=1, inplace=True)

In [48]:
object_columns = df.select_dtypes(include=['object']).columns

# Convert all object columns to float
for col in object_columns:
    df[col] = df[col].astype(float)

In [ ]:
# Creating a column for the ratio of oxygen to co2
df['o2_co2_ratio'] = df['oxygen'] / df['co2']

In [ ]:
df.to_csv('lida_tabletrimmed_featured.csv', index=False)