In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv('synthetic_compost_data.csv')
df.head()

,time_stamp,moisture_active1,moisture_active2,oxygen,lid,co2,device_id,temperature_active1,temperature_active2,temperature_active3,temperature_active4,temperature_curing1,temperature_curing2,moisture_curing1,moisture_curing2
0,2024-01-01,53.414959,54.445332,14.585502,1,5.155804,dev1,30.745071,29.792604,30.971533,32.284545,NaN,NaN,NaN,NaN
1,2024-01-02,54.431544,55.309214,14.804655,1,5.425923,dev1,33.870992,33.871017,36.591041,35.373374,NaN,NaN,NaN,NaN
2,2024-01-03,55.332008,55.207526,15.543138,1,4.899575,dev1,37.740233,39.258285,37.749318,37.745850,NaN,NaN,NaN,NaN
3,2024-01-04,55.714561,56.200347,15.559422,1,5.018819,dev1,43.029610,39.796746,40.079290,41.823235,NaN,NaN,NaN,NaN
4,2024-01-05,51.243475,51.566163,15.328532,1,5.071450,dev1,45.369642,47.360260,45.526853,44.770433,NaN,NaN,NaN,NaN

In [3]:
df = pd.read_csv('lida_tabletrimmed.csv')
df.head()

,moisture_active1,moisture_active2,oxygen,lid,co2,time_stamp,device_id,temperature_curing1,temperature_curing2,moisture_curing1,moisture_curing2,automation_active,methane,temperature_active1,temperature_active2,temperature_active3,temperature_active4
0,14,15,10.429501,open,6473,28/06/2024 18:03,YJWCHg,0,0,134,14,False,965,15,15,25,14
1,15,17,11.406513,open,6429,28/06/2024 18:03,YJWCHg,0,0,68,15,False,898,14,15,15,14
2,7,15,11.895020,open,6446,28/06/2024 18:03,YJWCHg,0,0,62,13,False,957,14,15,15,14
3,15,16,12.207036,open,6410,28/06/2024 18:03,YJWCHg,0,0,107,18,False,941,14,15,15,14
4,14,16,12.386153,open,6703,28/06/2024 18:03,YJWCHg,0,0,46,13,False,1012,14,15,15,14